* {
  font-family: 'Roboto', sans-serif !important;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dark {
  --text: #ebedef;
  --background: #06090a;
  --primary: #1838da;
  --secondary: #134b70;
  --accent: #44a0e1;
}

.light {
  --text: #06090a;
  --background: #ebedef;
  --primary: #1838da;
  --secondary: #134b70;
  --accent: #44a0e1;
}
